body {
    font-family: arial;

}

.rect {
    width: 100px;
    height: 100px;
    margin: 5px;
    color: #84befe;
    text-align: center;
    font-size: 12pt;
    position: fixed;
    top: 200px;
    right: -5px;
    border: dashed;
    border-color: #84befe;
    border-width:3.5pt;
}

.whole {
    width: 980px;
    padding: 40px;
    background-color: #cbe5ff;
    position: absolute;
    top: 50px;
    left: 400px;
    right: 50px;
}

.box {
    width: 200px;
    height:250px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 40px;
}

.preview{
    width: 800px;
    height: 360px;
    background: #84befe;
    position: absolute;
    top:40px;
    right: 40px;
    bottom: 100px;
}

.container {
    width: 900px;
    height: 700px;
    background-color: white;
    position: relative;
    top: 400px;
    left:40px;
    right: 40px;
}

a {
float:left;
width:158px;
text-decoration:none;
color:white;
background-color:#84befe;
padding: 10px;
border-right:1px solid white;
text-align:center;
}


a:hover {
background-color:white;
color:#84befe;
}

.mid{
    padding: 10px;
    background-color: white;
    width: 900px;
    position: relative;
    top: 400px;
}
.last{
    position: relative;
    top: 40px;
}
.footer{
    position: absolute;
    right: 40px;
    color: #84befe;
    font-size: 12pt;
}