p {
    background-color: lightblue;
    width: 200px;
/*The box model properties*/
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}

p {
    background-color: lightblue;
    width: 200px;

    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
/*SAME AS*/
    padding: 25px;
}